/* =============
    Base
============= */

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }


}
a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, p{
    padding: 0px;
    margin: 0px;
}

.tractor-images{
    width: 100%;
}
.large-images{
    width: 30%;
}

:root{
    --blackbean: #330F0A;
    --ferngreen: #65743A;
    --ferngreenlight: #9AB155;
    --flazlight: #FFF0AF;
    
}