/* =============
    hero3
============= */

#hero3{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "gallery";
    grid-template-columns: repeat();

    >div{
        grid-area: gallery;
    }

}

@include md {
    #hero3{
        display: grid;
        grid-template-columns: 50% auto;

    }
    
}

@include xl {
    #hero3{
        display: grid;
        grid-template-columns: 63% auto;

    }
    
}