/* =============
    hero4
============= */

#hero4{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". hero44 .";

    >div{
        grid-area: hero44;

    }
    
    ul{
        display: grid;
        gap: 16px;

        @include md{
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 
            "t1 t1 t2 t2"
            "t3 t3 t4 t4"
            ". t5 t5 .";

            #t1{
                grid-area: t1;
            }
        
            #t2{
                grid-area: t2;
            }
        
            #t3{
                grid-area: t3;
            }
        
            #t4{
                grid-area: t4;
            }
        
            #t5{
                grid-area: t5;
            }
        }



        
    }


    
}