/* =============
    hero0
============= */

form{

    margin: 16px 16px;

    input{
        border: none;

    }
    button{
        border: none;
        padding: 6px 11px;
        background-color: var(--ferngreenlight);
    }
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-areas: ". . form11 .";

    >div{
        grid-area: form11;
    }
}

@include xl{
    >div{
        display: grid;
        grid-template-columns: auto 1200px auto;

    }
}




