/* =============
    hero1
============= */

#herohalf1{
    display: grid;
    grid-template-columns: 100%;
}

@include md {
    #herohalf{
        display: grid;
        grid-template-columns: 30% auto;
    }

}

@include xl {
    #herohalf{
        display: grid;
        grid-template-columns: 50% auto;
    }

}




