/* =============
    hero2
============= */

#hero2{
    
    background-color: #330F0A;
    -webkit-text-fill-color: white;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: ". hero22 .";

    >div{
        grid-area: hero22;
    }
}