/* =============
    hero2
============= */

#hero2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    "l1 l1 l1 l2"
    "l3 l3 l3 l4";
    background-color: #330F0A;
    -webkit-text-fill-color: white;
    margin: 16px 0px;

    img{
        border-radius: 100%;
    }

    a{
        background-color: var(--ferngreenlight);
            color: white;
            padding: 4px 12px;
            margin-left: 16px;
    }

    h3{
        padding: 16px 16px;
    }
    
}

@include md {
    #hero2{
        grid-template-columns: repeat(8,1fr);
        grid-template-areas: 
        "l1 l1 . l2 l3 l3 . l4";
        gap: 16px;
    }
}

@include xl {
    #hero2{
        grid-template-columns: repeat(8,1fr);
        grid-template-areas: 
        "l1 l1 . l2 l3 l3 . l4";

    }
}

#l1{
    grid-area: l1;
}

#l2{
    grid-area: l2;
}

#l3{
    grid-area: l3;
}

#l4{
    grid-area: l4;
}