/* =============
    Footer
============= */

footer{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: 
    ". footer .";
    background-color: #330F0A;
    color: white;

   
    
    >div{

        ul{
            display: flex;
            justify-content: center;
            align-items: center;

        }
        

        form{

            input{
                background-color: var(--flazlight);
                padding: 4px 14px;
            }

            button{
                padding: 4px 14px;
                background-color: var(--ferngreenlight);
                color: white;
                border: none;
            }
        }
        grid-area: footer;
        @include md { 
            display: grid;
            //grid-template-columns: 50% auto;
            
            grid-template-columns: repeat(2,1fr);
            grid-template-areas: 
            "f1 f2"
            "f1 f3"
            "f1 f3";
    
            #foot1{
                grid-area: f1;
            }
        
            #foot2{
                grid-area: f2;
            }
        
            #foot3{
                grid-area: f3;
            }
        }

        @include xl { 
            display: grid;
            gap: 16px;
            //grid-template-columns: 50% auto;
            
            grid-template-columns: repeat(3,1fr);
            grid-template-areas: 
            "f1 f2 f3";
    
            #foot1{
                grid-area: f1;
            }
        
            #foot2{
                grid-area: f2;
            }
        
            #foot3{
                grid-area: f3;
            }
        }


        
    }
}
    

    
    




