/* =============
    Header
============= */


header{
    background-color: #330F0A;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header.";

    >div{
        grid-area: header;
        
        //#logo{
          //  width: 200px;
            //height: 200px;
        //}
 
    }

    
}



