/* =============
    Header
============= */


header{
    padding: 16px;
    background-color: #330F0A;
    display: grid;
    grid-template-columns: 16px auto auto 16px;
    grid-template-areas: ". header.";

    >div{
        grid-area: header;

 
    }

    #logo{
        background-image: url("../img/companylogo.png");
        width: 52px;
        height: 39px;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;

        @include md{
            width: 61px;
            height: 46px;
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
        
        }

        @include xl{
            width: 83px;
            height: 63px;
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
        
            
        }
    }


    
}





